#navbar {
    background-color: #0F6862;
    text-align: center;
}

#navbar li {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    border: 4px #16A085;
    background-color: #A93226;
}

.header {
    font-family: Faster One;
    color: darkblue;
}
.smaller-image {
    width: 300px;
}

.thin-gold-border {
    border-color: #998200;
    border-width: 12px;
    border-style: solid;
    border-radius: 10px;
    background-color: white;
}

.backcolor {
    background: linear-gradient(63deg, #999 23%, transparent 23%) 7px 0, linear-gradient(63deg, transparent 74%, #999 78%), linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%), #444;
    background-size: 16px 48px;
}

.thin-red-border {
    border-color: #A93226;
    border-width: 10px;
    border-style: solid;
    border-radius: 10px;
    background-color: white;
}
.thin-black-border {
    border-color: black;
    border-width: 12px;
    border-style: solid;
    border-radius: 10px;
    background-color: white;
}
.thin-aquablue-border {
    border-color: #16A085;
    border-width: 7px;
    border-style: solid;
    border-radius: 10px;
}
.thin-lightyellow-border {
    border-color: #ffff4d;
    border-width: 7px;
    border-style: solid;
    border-radius: 10px;
}
.text-center {
    text-align: center;
    margin:auto;
}
 .br-33 {
    line-height: 33px;
 }
.b-image {
    position: relative;
    top: -52px; 
}
.m-image {
    position: relative;
    top: -33px;
}

.t-image {
    position: relative;
    top: 10px;
}
.tl-image {
    position: relative;
    top: 8px;
    left: 15px;
}

.ml-image {
    position: relative;
    top: 30px;
}

.bl-image {
    position: relative;
    top:10px;
}
.toptxt-image {
    left: 3px;
}

.text-caption {
    position: static;
    font-size: 30px;
}

.stylish-text {
    font-weight: bold; 
    font-style: italic;
    color: #cc8800;
}
.hardwarebackcolor {
background :linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
}

.whiteimgbacking {
background-color: white;
}

.whitetext {
    color: white;
}

.aquaborder {
    border-color: #004d4d;
    border-width: 7px;
    border-style: dotted;
    border-radius: 10px;
}
.img {
    border: solid 5px transparent;
}
.img:hover {
    border-color: #802000;
}


.howtobackcolor {
    background-color:#556;
background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a), 
linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
background-size:80px 140px;
background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}
#message {
    display: none;
}
.texthowto {
    font-size: 20px;
}
.rightside {
    text-align: right;
}
.smallerimagehowto {
  height: 50px;  
  width: 700px;
}

.smallerimagehowto1 {
  height: 500px;  
  width: 500px;
}
.smallerimagehowto2 {
  height: 200px;  
  width: 800px;
}
.smallerimagehowto3 {
  height: 410px;  
  width: 410px;
}
.textleft {
    text-align: left;
}
.thin-blue-border {
    border-color: #00264d;
    border-width: 10px;
    border-style: solid;
    border-radius: 10px;
    background-color: white;
}
.boldtext {
    font-weight: bolder;
}

.imgleft {
    position: relative;
    left: -500px;
    top: 40px;
}
.smallerimagehowto4 {
  height: 400px;  
  width: 400px;
}
.smallerimagehowto5 {
  height: 400px;  
  width: 600px;
}
.smallerimagehowto6 {
  height: 500px;
  width: 600px;
}